

.header{
    text-align:center;
    background: #ff6fa8;
    color:black;
    padding: 20px 0;
    font-size: 28px;
    font-weight: bold;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap:20px;
    padding:30px;
}

.product-card{
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s;
}

.product-card:hover{
    transform: scale(1.05);
}

.product-card img{
    width:100%;
    height: 230 px;
    object-fit: cover;
    border-radius: 10px;
}

.product-card p{
    color: gray;
    font-size: 14px;
}

.price{
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin: 10px 0;
}

button{
    background: #ff4f8b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}

button:hover{
    background: #e8437d; 
}

@media(max-width:768px){
    header{
        flex-direction: column;
    }

.products{
    flex-direction: column;
    align-items:center;
}
}
